<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright 2022 <strong><span>Juan Lee</span></strong>. All Rights Reserved.
    </div>
  </div>
</footer><!-- End Footer -->